<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.manage.mapper.AdviceMapper">

    <insert id="addAdvice" parameterType="AdviceBean">
        INSERT INTO advice (uid, advice, time, file_names)
        VALUES (#{uid}, #{advice}, #{time}, #{fileNames})
    </insert>

    <select id="getAdvice" resultType="AdviceBean">
        SELECT *
        FROM advice a
                 LEFT JOIN room_user u ON a.uid = u.id
    </select>
</mapper>
