<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.manage.mapper.KnowledgeChunkMapper">

    <insert id="insertChunk" parameterType="com.example.manage.bean.KnowledgeChunkBean"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO knowledge_chunk (document_id, content, embedding, chunk_index, created_at)
        VALUES (#{documentId}, #{content}, #{embedding}, #{chunkIndex}, #{createdAt})
    </insert>

    <delete id="deleteByDocumentId">
        DELETE FROM knowledge_chunk WHERE document_id = #{documentId}
    </delete>

    <select id="listAllChunks" resultType="com.example.manage.bean.KnowledgeChunkBean">
        SELECT * FROM knowledge_chunk
    </select>
</mapper>